<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>


<table>
    <tr>
        <td>Name</td>
        <td>Height</td>
        <td>Weight</td>
    </tr>
    <% @profiles.each do |v| %>
    <tr>
        <td><%= v.name %></td>
        <td><%= v.height %></td>
        <td><%= v.weight %></td>
    </tr>
    <% end %>
</table>
